<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414551898666-e5ob17vq50f385u2n466s4261hdka99m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414551898666-e5ob17vq50f385u2n466s4261hdka99m</string>
	<key>API_KEY</key>
	<string>AIzaSyCl0r71O76HQGbSiy0lnpQxYS8PcabznSo</string>
	<key>GCM_SENDER_ID</key>
	<string>414551898666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.golsat.golsatFlutterPocApp</string>
	<key>PROJECT_ID</key>
	<string>golsat-flutter-poc</string>
	<key>STORAGE_BUCKET</key>
	<string>golsat-flutter-poc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414551898666:ios:b6105e1b023f0ccf</string>
	<key>DATABASE_URL</key>
	<string>https://golsat-flutter-poc.firebaseio.com</string>
</dict>
</plist>